.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
node_modules/puppeteer-core/src/**
node_modules/puppeteer-core/lib/esm/**
node_modules/puppeteer-core/lib/es5-iife/**
node_modules/puppeteer-core/node_modules/**
src/**
local_dumps/**
.gitignore
.yarnrc
.npmrc
pnpm-lock.yaml
.claude/**
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
